<%= render partial: "layouts/header" %>

<div class="container justify-content-center text-center">
  <header>
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.category %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <%= link_to "Delete", restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </header>
  <div id="reviews" class="my-5 container">
    <ol class="list-group list-group-numbered">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><%= review.content %></div>
          </div>
          <span class="badge bg-primary rounded-pill"><%= review.rating %></span>
        </li>
      <% end %>
    </ol>
    </ul>
  </div>
</div>
