<%= render partial: "layouts/header" %>

<div class="container center text-center">
  <header>
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.category %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </header>
</div>
